{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $gpgKeyId := promptStringOnce . "gpgKeyId" "GPG key ID for git signing (leave empty to disable)" -}}
{{- $hasOrbStack := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hasOrbStack = promptBoolOnce . "hasOrbStack" "Is OrbStack installed?" -}}
{{- end -}}

encryption = "age"

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  gpgKeyId = {{ $gpgKeyId | quote }}
  hasOrbStack = {{ $hasOrbStack }}

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age16mv7ycglyrn68pnrfv6r2pf72swjffn20sdehfdha7l5sqlr3s2qa2mlsl"
